h1 {padding-top: 30pt;}
body {
    font-family: papyrus;
    background:#f4f4f4;
    color: rgb(71, 71, 71);
    text-align: center;
    margin:0 auto;
    max-width:70em;}
h1 {color:rgb(0, 0, 0);}
.image-row {
  display: flex;
  justify-content: space-between;}

  .gallery-row {

    width: 20%;
  }

  .gallery-row-link {

    width: 100%;
  }