h1 {
    padding-top: 20pt;
}

.Content {
    font-family: papyrus;
    padding-left:14%;
    width:86%;
    background:black;
    color: white;
    text-align: center;
    margin-right: 20px;
    }

  p {color:#a1ccad;}
  h1 {color:#baffcc;}
  h2 {color:white;}
  h3 {color:white;}
  h4 {color:white;}
  label {color:white}
  
  body {background-color: black;}

  .sidebar {
    width:14%;
    background-color:black;
    color:white;
    text-align: left;
    height:100%;
    position:absolute;
    position:fixed;
  }

  li{
    list-style-type: none;
  }